HOST_DOMAIN=
LAB_DIR=

HEADSCALE_VERSION=0.26.1
HEADPLANE_VERSION=0.6.0

HEADSCALE_COOKIE_SECRET=
HEADSCALE_AGENT_ENABLED=
HEADSCALE_AGENT_PRE_AUTHKEY=
HEASCALE_AGENT_NAME=

TRAEFIK_PASSWORD=
TRAEFIK_LETSENCRYPT_EMAIL=

ADGUARD_USER=
ADGUARD_PASSWORD=
ADGUARD_TRAEFIK_ENABLED=

TAILNET_NAME=
DNS_SERVER_ADDRESS=

STEP_CA_HOST=step-ca:9000 # If using on the same machine with docker, otherwise, something like step-ca.my.host