# General
*.log
*.tmp
*.swp
*.bak
*.old
*.orig

# OS metadata
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# Editor / IDE settings
.vscode/
.idea/
*.code-workspace

# Docker volumes / container data
config/adguard/workdir/*

# Traefik certificates
config/traefik/certs/

# Headscale
config/headscale/lib
config/headscale/run
config/headscale/config/config.yaml

# Headplane
config/headplane/config.yaml
config/headplane/headplane-data/

config/traefik/letsencrypt/


*.env

AdguardHome.yaml